body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", "courier", "monospace";
    background: linear-gradient(89deg, #662E9B 0%, #04C8DE 100%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #FF5EDF;
}


.App {
    max-width: 600px;
    margin: 0 auto;
}

hr {
    margin-top: 30px;
}
