body {
    background: #11270B;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #3C5A14;
}


.App {
    max-width: 600px;
    margin: 0 auto;
}

hr {
    margin-top: 30px;
}
